<a href="https://colab.research.google.com/github/MarcusAurelius29/DiabetesPredictionSystem/blob/develop/DiabetesPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing dependencies

In [13]:
import numpy as np
import pandas as pd
import sklearn 
from sklearn.preprocessing import StandardScaler           # transforming data taken from different sources into a consistent format that adheres to the standards.
from sklearn.model_selection import train_test_split     # We use this to create a training and testing date
from sklearn import svm                                    # Our support vector machine
from sklearn.metrics import accuracy_score                 #accuracy score of our svm model

Data Collection and Analysis

In [14]:
#loading the diabetes dataset to a pandas dataframe
diabetes_dataset = pd.read_csv('/content/diabetes.csv')
#pd.read_csv Read a comma-separated values (csv) file into DataFrame.

In [15]:
#lets print first 5 rows of this dataset
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [16]:
#lets see number of rows and columns of our dataset
diabetes_dataset.shape
#datset is taken from 768 people and 9 fields are used

(768, 9)

In [17]:
#lets get some statistical measures of this dataframe
#e.g mean , median , mode , variance , standard deviation , percentile
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [18]:
#so basically you want to know how many are 0 and how many are 1 
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 --> Non-Diabetic People
1 --> People with Diabetes

In [19]:
# You want to find out mean values for each outcome in our dataset
diabetes_dataset.groupby('Outcome').mean()
# diabetic people have more glucose , insulin , elderly , slight more BMI
#this is just a good practice

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [20]:
#seperating data and labels
# to use drop function you need to mention axis = 1 if you're dropping a column , else axis = 0 for a row
X = diabetes_dataset.drop(columns = 'Outcome' , axis = 1)
#Here i am only taking the outcome column
Y = diabetes_dataset['Outcome']

Data standardization
Standardize our data in a specific range. Helps in making prediction
We will use StandardScaler

In [21]:
scaler = StandardScaler()

In [22]:
scaler.fit(X)

StandardScaler()

In [23]:
#fitting our data in a common range
standardize_data = scaler.transform(X)

In [24]:
print(standardize_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [25]:
X = standardize_data

In [26]:
Y = diabetes_dataset['Outcome']
# X --> data , Y --> model

Train test split

In [27]:
# We will train our model with training data and evaluate its learning with test data. Model should not see test data
# We need to mention our data --> X , Y , test_size = 0.2 ( 20% of data will be test) , Y has data one or  zero. so we want data bo split
#  the same , random_state --> index for your split
X_train , X_test , Y_train , Y_test = train_test_split(X,Y , test_size = 0.2 , stratify = Y , random_state = 2)

In [28]:
print(X.shape , X_train.shape , X_test.shape)

(768, 8) (614, 8) (154, 8)

Training the Model

In [29]:
classifier = svm.SVC(kernel = 'linear')
#This loads our support vector classifier , linear model

In [30]:
#Fit training data in this the SVM classifier
classifier.fit(X_train , Y_train)

SVC(kernel='linear')

Now Let us evaluate our model

In [31]:
#Accuracy Score
X_train_prediction = classifier.predict(X_train)

In [32]:
# So , we predicted the outcome from our mode and storedd it in x train prediction
# Now we verify its accuracy by accuracy_score(output of classifier vs our initial outcome values)
training_data_accuracy = accuracy_score(X_train_prediction , Y_train)

In [33]:
print('Accuracy score of the training data : ' , training_data_accuracy)

Accuracy score of the training data :  0.7866449511400652

Out of 100 , 79 are correct

In [34]:
X_test_prediction = classifier.predict(X_test)

In [35]:
test_data_accuracy = accuracy_score(X_test_prediction , Y_test)

In [36]:
print('Your score in your exam is : ' , test_data_accuracy)

Your score in your exam is :  0.7727272727272727

There is no overfitting

Now, we have to develop a predictive system

In [49]:

input_date = (1,180,0,0,0,43.3,0.282,41)
#Change this input data into numpy array
Input_Data_as_numpy_array = np.asarray(input_date)


#We need to reshape this data
#model expects 768 data but we are feeding only one
input_data_reshaped = Input_Data_as_numpy_array.reshape(1,-1)
#We cant give this data for now , it is not standardized, so we standardize it using StandardScaler
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic. Advise him to use insulin')

[[-0.84488505  1.84983245 -3.57259724 -1.28821221 -0.69289057  1.43512945
  -0.57344897  0.66020563]]
[1]
The person is diabetic. Advise him to use insulin

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(